.flex-container{
  display:flex;

  flex-direction: row; 
  /* column; row-reverse; column-reverse; */

  flex-wrap: wrap;  
  /* nowrap */
height: 500px;
  justify-content: flex-start;

  align-items: stretch;
}


.flex-item{
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis:auto;
  align-self: auto;
  width: 200px;
  background-color: red;
}

.three{
  flex
}